html, body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  width: 100%;
  max-width: 100%;

  min-height: 100%;
  height: 100%;
  max-height: 100%;
  background-color: #f2f2f2;
  font-family: 'Work Sans', sans-serif;
}
 

.container {
  padding-top: 10px;
  width: 100% !important;
}

.station {
  /* border-color: #FF007F; */
  /* border-width: 5px 0 0 0; */
    /* border-style: solid; */
  /* height: 50px; */
  background-color: #FF007F;
  opacity: 80%;
  color: white;
  padding: 4px 0 3px 10px;

}

/* .etd-north {
  padding: 4px 0 3px 10px;

} */

.direction {
  /* border-color: #444444; */
  /* border-width: 5px 0 0 0; */
    /* border-style: solid; */
  /* height: 50px; */
  background-color: #444444;
  opacity: 50%;
  color: white;
  margin: 0;
  padding: 0 0 3px 10px;
}

.icon-minus {
margin-left: -10px;
}

.destination {
  padding-top: 5px;
  /* border-color: #FF007F; */
  border-width: 0 0 4px 0;
    border-style: solid;
  /* height: 50px; */
    color: black;
  background-color: #e2e2e2;
  opacity: 50%;
}


.destination:hover {
  background-color: white;
  transition: background-color 1s ease-in;

  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;

}


.destination-south {
  background-color: #b48181;
}


.bold {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
}

.btn
{
margin-right: 6px;
margin-bottom: 8px !important;
-webkit-border-radius: 0 !important;
-moz-border-radius: 0 !important;
     border-radius: 0 !important;
}



/* -----------------------------------------------------------------------------------------------------------------------------------------
------ Footer Section ------------------- */


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

/* @media (max-width: 768px) {
    #sidebar {
        margin-left: -270px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
} */
